* {
    padding-left: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: Electrolize, sans-serif;
}

body {
    background: #f8fafc;
}

:root {
    font-size: 62,5%;
}


electrolize-regular {
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  
header {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    justify-content: space-around;
    background: #fff;
    padding-top: 1.7rem;
    padding-bottom: 1.5rem;
    box-shadow: 0px 1px 3px rgba(146, 161, 176, 0.15); 
    
}
   .title_ {
    text-decoration: none;
   }

  .titlee {
    color: #8b5cf6;
    text-shadow: 1px 0px 3px;
  }

  .title {
    font-family: Electrolize, sans-serif;
    font-size: 2.3rem;
    color: #71717a;
    text-shadow: 1px 0px 3px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    gap: 2.6rem;
  }

  .navb {
    font-family: Electrolize, sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    color: #8b5cf6;
    padding: 0.4rem;
  }

  .navb:hover {
    font-weight: bold;
    transition: 0.4s;
    filter: blur(0.1rem);
    opacity: 0.1rem;
  }

  .input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input {
    width: 28rem;
    padding: 0.8rem;
    
    background-color: #f1f5f9;
    border: 0;
    border-radius: 5rem;

    font-weight: 600;
    font-size: 1.4rem; 
}

.input-wrapper input::placeholder {
    opacity: 0.7;
    color: #8b5cf6;
}

#home {
  padding: 4rem 0 2rem;
}

.slogan {
  font-size: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.home_grid {
  display: grid;
  align-items: baseline;
  justify-content: center;
  max-width: 1024px;
}

.home_data {
  font-family: Electrolize, sans-serif;
  font-size: 2.5rem;
  padding-top: 6rem;
}

.masters {
  color: #71717a;
  text-shadow: 1px 0px 3px;
}



.maintitlespan {
  color: #8b5cf6;
  text-shadow: 1px 0px 3px;
}

.main-button {
  background: linear-gradient(90deg, #E0C4F4, #D1AFEC, #BE93E4, #aa75d8, #9b6fc2);
  padding: 0.9rem;
  border: 0;
  border-radius: 4rem;
  cursor: pointer;
  animation:degrade 5s linear infinite;
}

.main-button:hover {
  font-weight: bold;
}

@keyframes degrade {
  to {
    background-position:20vw;
  }
}

.buttom-text {
  color: #262529;
  text-decoration: none;
}

.home-social {
  display: flex;
  gap: 1.5rem;
  padding-top: 8rem;
}

.social-icon {
  filter: grayscale(100%);
  width: 1.4rem;
  height: 1.4rem;
}

.social-icon:hover {
  filter: saturate(100%);
}

.sobre {
  color: #8b5cf6;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  font-size: 3rem;
  text-decoration: underline;
}

.container-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.config {
  width: 35rem;
  height: 35rem;
  padding-right: 5rem;
}

.p-sobre {
  font-size: 1.2rem;
  font-weight: 600;
}
